body {
  font-family: "Times New Roman";
  font-size: 10pt;
  line-height: 1.2em;
  max-width: 800px;
  padding-left: 50px;
  padding-right: 50px;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
}
hr {
  display: none;
}
h1 {
  font-size: 16pt;
  text-align: center;
  line-height: 1.2em;
  margin-top: 20px;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}
h1 + p {
  padding: 0 100px;
  text-align: center;
}
h2 {
  font-size: 14pt;
  margin-top: 20px;
  margin-bottom: 10px;
}
h2.abstract {
  text-align: center;
}
h2.abstract + p {
  padding: 0 50px;
}
th {
  text-align: left;
  padding-right: 10px;
}
td {
  vertical-align: top;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-right: 10px;
}
ul, ol {
  margin-top: 10px;
}
li {
  margin-bottom: 10px;
}
